* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: #fcfcfc;
  color: #FFF;
  margin-bottom: 10px;
   padding-left: 70px;
   padding-right: 70px;
}

.navbar navbar-expand-lg navbar-light bg-light{
box-shadow: 5px -9px 3px #000;
  }

.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}